<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  {% if page.desciption %}
    <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/app.css">

  <script src="/javascripts/vendor/custom.modernizr.js"></script>
</head>

<body class="{{ page.layout }}" {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
